spring:
  profiles:
    active: prod
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:subscription_prod}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      max-lifetime: 1800000
      idle-timeout: 600000

server:
  port: 8080

logging:
  level:
    root: WARN
    br.com.valueprojects.subscription: INFO


